body{
    background-color:#e0e0e0 ;
    font-family: 'Montserrat', sans-serif;
}

.introduction{
    text-align: center;
    
}

.about-me > p{
    text-align: justify;
}

.introduction > h2{
    margin: 11px;
}

.introduction > h3{
    margin: 10px;
}

.my-picture{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.my-picture > img{
    margin: 28px auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
}

.pendidikan > h4 {
    margin: 9px;
}

.card {
  background-color: #cfd8dc;
  border: 1px solid #9ea7aa;
  width: 300px;
  height: 200px;
  text-align: center;
  margin: 7px;
}

.card > img{
    display: inline-flex;
    width: 130px;
    height: 130px;
}

.card > h3{
    margin: 4px;
}

.card > h5{
    margin: 5px;
}

.card > h6{
    margin: 5px;
}

.company {
  display: flex;
  flex-direction: row;
  height: 300px;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.riwayat-kerja > table{
    
    margin-left:auto; 
    margin-right:auto;
}
.riwayat-kerja > table, th, td{

    border: 1px solid black;
}

.socmed > ul{
   position: relative;
   top : 65%;
   left: 50%;
   padding: auto;
   margin: auto;
   transform: translate(-50%, -50%);
   display: flex;
}

.socmed > ul > li{
    list-style: none;
    margin: 0 15px;
}

.socmed > ul > li > a{
    position: relative;
    display: inline;
    width: 60px;
    height: 60px;
    border-radius: 90%;
    background-color: azure;
    text-align: center;
    transition: .8s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.socmed > ul > li > a:hover{
    transform: translate(0, -10px);
}

/*memberi efek warna button instagram dengan membuat tag selector li:nth-child(1)*/
/*.socmed > ul > li:nth-child(1) > a:hover{
    background-color: E4405F;
}*/

/*memberi efek warna button twitter dengan membuat tag selector li:nth-child(2)*/
/*.socmed > ul > li:nth-child(2) > a:hover{
    background-color: 1DA1F2;
}*/

/*memberi efek warna button github dengan membuat tag selector li:nth-child(3)*/
/*.socmed > ul > li:nth-child(3) > a:hover{
    background-color: 34465D;
}*/

/*memberi efek warna button linkedin dengan membuat tag selector li:nth-child(4)*/
/*.socmed > ul > li:nth-child(4) > a:hover{
    background-color: 0A66C2;
}*/
